# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/coverage
# next.js
.next/
#会匹配任意深度out文件夹下的所有内容
/out/

# production
build/

# 匹配从.gitignore开始所有深度的node_modules文件夹
node_modules/
/.pnp
.pnp.js
